* {
    /* background-color: green; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient( 90.5deg,  rgba(112,181,176,1) 1.9%, rgba(220,244,241,1) 87.7% );
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.title-panel {
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.game-panel {
    border: 1px solid black;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-panel {
    border: 1px solid black;
    flex: 1;
}

.results-title {
    /* display: none; */
}

.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}